<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alta de productos</h1>
    <form action="/products" method="post" novalidate autocomplete="off">
        <div>
            <label for="">Titulo del producto</label>
            <input type="text" name="name"/> 
            <!-- mismo nombre que en el schema -->
            
        </div>
        <div>
            <label for="">Precio</label>
            <input type="number" name="price"/> 
                        
        </div>
        <div>
            <label for="">Marca</label>
            <input type="text" name="brand"/> 
                        
        </div>
        <div>
            <label for="">Modelo</label>
            <input type="text" name="model"/> 
                        
        </div>
        <div>
            <label for="">Version</label>
            <input type="text" name="version"/> 
                        
        </div>
        <div>
            <label for="">Año</label>
            <input type="number" name="year"/> 
                        
        </div>
        <div>
            <label for="">Categoria</label>
            <input type="text" name="category"/> 
                        
        </div>
        <div>
            <label for="">Stock</label>
            <input type="number" name="stock"/> 
                        
        </div>



        <div>
            <button>Enviar</button>
        </div>

    </form>
</body>
</html>